! Last configuration change at 07:29:51 UTC Tue Mar 26 2019 by python
!
version 16.6
service timestamps debug datetime msec
service timestamps log datetime msec
platform qfp utilization monitor load 80
no platform punt-keepalive disable-kernel-core
platform console virtual
!
hostname {{ hostname }}
!
boot-start-marker
boot-end-marker
!
enable secret 5 $1$Scid$NgybZa4CxcPX4TgZ/O/Ew/
!
transport-map type persistent webui https-webui
 secure-server
!
aaa new-model
!
aaa authentication login default local
aaa authorization exec default local none
!
aaa session-id common
!
no ip domain lookup
ip domain name lab.ins.hsr.ch
!
subscriber templating
!
multilink bundle-name authenticated
!
license udi pid CSR1000V sn 9VSQB7MJ3Z8
license accept end user agreement
license boot level ax
diagnostic bootup level minimal
spanning-tree extend system-id
archive
 path flash:old_config
!
remote-management
netconf-yang cisco-odm actions OSPF
netconf-yang cisco-odm actions IPRoute
netconf-yang cisco-odm actions Diffserv
netconf-yang cisco-odm actions BFDNeighbors
netconf-yang cisco-odm actions BridgeDomain
netconf-yang cisco-odm actions VirtualService
netconf-yang cisco-odm actions EthernetCFMStats
netconf-yang cisco-odm actions MPLSLDPNeighbors
netconf-yang cisco-odm actions MPLSStaticBinding
netconf-yang cisco-odm actions MPLSForwardingTable
!
{% if netconf_enabled %}
netconf-yang
netconf ssh
{% endif %}
!
restconf
!
username {{ username }} privilege 15 secret 5 {{ password }}
!
redundancy
!
{% for interface in interfaces.ethernet %}
interface {{ interface.name }}
  description {{ interface.description }}
  no shutdown
  ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
  negotiation {{ interface.negotiation }}
{% endfor %}
!
{% for interface in interfaces.loopback %}
interface {{ interface.name }}
  description {{ interface.description }}
  no shutdown
  ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
{% endfor %}
!
router bgp 2
 bgp log-neighbor-changes
 neighbor 10.3.255.108 remote-as 8
!
!
virtual-service csr_mgmt
 ip shared host-interface GigabitEthernet1
 activate
!
ip forward-protocol nd
no ip http server
ip http authentication local
ip http secure-server
ip route 0.0.0.0 0.0.0.0 10.3.255.1
!
ip ssh version 2
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip scp server enable
!
control-plane
!
line con 0
 stopbits 1
line vty 0 4
 privilege level 15
 logging synchronous
 transport preferred ssh
 transport input ssh
line vty 5 15
 privilege level 15
!
transport type persistent webui input https-webui
!
end